@media screen and (max-width: 767px) {
	.dataTables_wrapper .dataTables_length {
	    display: none;
	}
	.dataTables_wrapper .dataTables_filter {
	    text-align: initial !important;
	}	
}

.navbar-app {
	float:left;
	color:#fff;
	margin-top:20px;
	margin-left:10px;
	font-family:Droid+Sans;
}

#frm-search option[value=""][default] {
    display: none;
}
#frm-search .form-control:not([readonly])~label:after {
    background: initial;
}
#frm-search .form-control:focus:not([readonly])~.help-block, #frm-search .form-control:not([readonly])~.help-block{
    color: #efefef;
}

.select2-results__group {
    color: #3598dc !important;
}
.select2-container--bootstrap .select2-results__option .select2-results__option {
    padding-left: 25px;
}

/* Force Select2 placeholder width */
.select2-search__field {
    width: 250px !important;
}   

/* Force Select2 placeholder color */
.select2-selection__rendered {
    color: rgba(85,85,85,.7) !important;
}

/* Force Select2 options to drop-down */ 
.select-dropdown {
  position: static;
    .select-dropdown--above {
      margin-top: 336px;
   }
}  